# This file defines the owners of specific paths in the repository.
# These owners will be automatically requested for review when a PR touches their files.

# Global owners (applied if no other rule matches)
* @Lavansurendra
* @RMiranda4