# Python / Build
**/__pycache__/
*.egg-info
*.pyc

# Virtual Environments
venv/
.env/

# Editor Settings
.vscode/
.idea/
.DS_Store

# Training Outputs (The Heavy Stuff)
output/
logs/
wandb/
*.zip
*.pkl